/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
    font-family: 'FishOutOfWater';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Regular.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterBold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Bold.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterDemiBold';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Demibold.woff") format("woff");
}

/* BODY */

/* allows color to outline score board and score board font color */
body {
    color: #00ffef;
}

/* HEADER */

header {
    margin-top: 0;
    background-color: darkblue;
}

header, h1 {
    font-family: 'FishOutOfWaterBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #01ffff;
    text-align: center;
    margin-bottom: 0px;
}

header, h2 {
    font-family: 'FishOutOfWaterDemiBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 75px;
    color:#01ffffe4;
    text-align: center;
}

header .row {
    margin-right: 0px;
}

/* GAME BACKGROUND */

#game-area {
    margin-top: 55px;
    margin-bottom: 30px;
}

/* game area animated background */
/* style the video: 100% width and height to cover the entire window. 
code tip from: https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -20;
  }

/* GAME BOARD */

/* game board images */
#game-photo-1 {
    background: url("../images/beluga.jpeg");
    background-position-x: 30%;
}

#game-photo-2 {
    background: url("../images/orca.jpeg");
    background-position-x: 30%;
}

#game-photo-3 {
    background: url("../images/rightwhale.jpeg");
    background-position-x: 30%;
} 

#game-photo-4 {
    background: url("../images/spermwhale.jpeg");
    background-position-x: 87%;
}

/* code snippet modeled after from https://codeinstitute.com/ Rosie resume tutorial */

#game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
    background-size: cover;
    /* background-position: center; */
    min-height: 360px;
    background-repeat: no-repeat;
    z-index: -1;
    text-align: center;
    width: 100%;
}

/* game board border */

#topleft, #topright, #bottomleft, #bottomright {
    padding: 0;
    border-style: solid;
    border-color: #00ffff;
}

/* border size */

#topleft {
    border-width: 10px 5px 5px 10px;
}

#topright {
    border-width: 10px 10px 5px 5px;
}

#bottomleft {
    border-width: 5px 5px 10px 10px;
}

#bottomright {
    border-width: 5px 10px 10px 5px; 
}

/* whale titles */

.btn p {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: azure;
}

/* BUTTONS */

/* 'start game!' button */

.btn-warning {
    color: #7dfff4;
    background-color: #00008b;
    font-family: 'Michroma';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  } 

/* center 'start game' button in gameboard */
  /* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.container {
    position: relative;
} 

/* 'game restart' button */
.btn-outline-warning {
    text-transform: uppercase;
    cursor: pointer;
}

/* 'how-to-play' button */
.btn-outline-primary {
    text-transform: uppercase;
    color: #01ffff;
    background-color: #00008b;
    border-color: #01ffff;
    cursor: pointer;
}

/* popover with game instructions */

.hidden {
    display:none;
}

.popover-header {
    background-color: blue;
    font-weight: bold;
}

.popover-body {
    padding: .5rem .75rem;
    color: #00ffef;
    background-color: darkblue;
}

#good-luck {
    font-weight: bold;
}


/* SCORE BOARD */

.my-col {
    text-align: center;
}

#score-board {
    top: 30px;
    font-size: 20px;
    border:2px solid;
    text-transform:uppercase;
    font-family: 'Michroma';
    background: #00008b;
}

#round {
    top: 30px; 
    font-size: 30px;
    border:2px solid;
    border-top: none;
    text-transform:uppercase;
    font-family: 'Michroma';
    background: #0000ff;
    min-height: 60px;
}

/* GAME RESULT POPUP */

/* popup style based on DigiFisk founder, Aathi Elumalai's tutorial on Udemy: 
'2D Game Development W/ Javascript & CSS3- Create Memory Game' 
https://www.udemy.com/course/2d-game-development-javascript-css3-create-memory-game/ */ 

#popupBG, #result {
    display: none;
}

#animate-screen {
    position: fixed;
    right: 0;
    bottom: 0;
    /* height and width of screen at 100% makes popup responsive */
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
}

#result {
  z-index: 10;
  position: fixed;
  width: 500px;
  height: auto;
}

#popupBody{
    background-color: white;
    height: 300px;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-color: darkblue;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#imgDiv {
    position: relative;
    top: 0; 
    margin: 2px auto; 
    width: 320px;
    height: 180px;
}

#imgDiv img {
    width: 320px;
    height: 180px;
}

#h1Results {
    margin: 0px 2px 2px 2px;
    font-family: 'FishOutOfWaterBold', Arial, sans-serif;
    font-size: 40px; 
    text-align: center;
    color: darkblue;
}

#pResults {
    color: darkblue;
    text-align: center;
    font-size: 18px;
    font-family: 'Michroma';
}

#popOkay {
    height: 100px;
    background-color: #3ac8ff;
    padding: 25px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color: darkblue;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#okayButton {
    height: 50px;
    width: 95px;
    margin: 0px auto;
    z-index: 12;
}

/* the button has to take up the height and width of the parent div element*/
#okayButton button {
    height: 50px;
    width: 95px;
    text-align: center;
    font-size: 18px;
    font-family: 'Michroma';
    background-color: darkblue;
    color: white;
    box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.5);
    border: none;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 5px;
    outline: none; /* set outline to none so when I click on a button it does not produce a default outline */
}

/* RESPONSIVE GAME BOARD */

@media screen and (max-width: 768px) {
    header, h1 {
      font-size: 60px;
      width: 100%;
    }
    header, h2 {
        font-size: 35px;
        width: 100%;
    }
    #game-area {
        margin-top: 10px;
    }
    #game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
      
        min-height: 340px;
        width: inherit;
        background-size: cover;
    }
}

@media screen and (max-width: 540px) {
    header, h1 {
      font-size: 40px;
      width: 100%;
    }
    header, h2 {
      font-size: 25px;
      width: 100%;
    }
    #game-area {
      margin-top: 10px;
    }
    #game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
      min-height: 180px;
      width: inherit;
      background-size: cover;
    }
    #game-area, .row, .panel p {
        font-size: 17px;
    }
    .btn, .btn-lg, .btn-warning {
          font-size: 17px;
    }
    #round {
          font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
   
    #score-board {
        top: 10px;
    }
    #round {
        top: 10px; 
        font-size: 20px;
        min-height: 15px;
    }
    #game-area {
        margin-bottom: 10px;
    }
}



