/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
    font-family: 'FishOutOfWater';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Regular.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterBold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Bold.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterDemiBold';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/FishOutOfWater-Demibold.woff") format("woff");
}

/* header */

header {
    margin-top: 0;
    background-color: darkblue;
}

header, h1 {
    font-family: 'FishOutOfWaterBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #01ffff;
    text-align: center;
    margin-bottom: 0px;
}

header, h2 {
    font-family: 'FishOutOfWaterDemiBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 75px;
    color:#01ffffe4;
    text-align: center;
}

header .row {
    margin-right: 0px;
}

/* game area */

#game-area {
    margin-top: 55px;
    margin-bottom: 30px;
}

/* game area animated background */
/* style the video: 100% width and height to cover the entire window. 
code tip from: https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -20;
  }

/* game board */

/* game board images */
#game-photo-1 {
    background: url("../images/beluga.jpeg");
    background-position-x: 30%;
}

#game-photo-2 {
    background: url("../images/orca.jpeg");
    background-position-x: 30%;
}

#game-photo-3 {
    background: url("../images/rightwhale.jpeg");
    background-position-x: 30%;
} 

#game-photo-4 {
    background: url("../images/spermwhale.jpeg");
    background-position-x: 87%;
}

/* code snippet modeled after from https://codeinstitute.com/ Rosie resume tutorial */

#game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    z-index: -1;
    text-align: center;
    width: 100%;
}

/* game board border */

#topleft, #topright, #bottomleft, #bottomright {
    padding: 0;
    border-style: solid;
    border-color: #00ffff;
}

/* border size */

#topleft {
    border-width: 10px 5px 5px 10px;
}

#topright {
    border-width: 10px 10px 5px 5px;
}

#bottomleft {
    border-width: 5px 5px 10px 10px;
}

#bottomright {
    border-width: 5px 10px 10px 5px; 
}

/* whale titles */

.btn p {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: azure;
}

/* buttons */

/* start button */

.btn-warning {
    color: #7dfff4;
    background-color: #00008b;
    font-family: 'Michroma';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  } 

/* center 'start game' button in gameboard */
  /* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.container {
    position: relative;
  } 